load_plugins {
    "file:~/.config/zellij/plugins/zellij-attention.wasm" {
        enabled "true"
        waiting_icon "⏳"
        completed_icon "✅"
    }
}

keybinds {
    shared {
        bind "Alt t" { MoveFocus "Down"; }
        bind "Ctrl f" {
            Run "zellij-sessionizer" {
                floating true
                close_on_exit true
            }
        }
    }
}
